body {
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 90vh;
    width: 100%;
}

header h1 {
    padding: 0;
    margin: 0 0 5px;
    font-size: 22px;
}

header p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.select>select {
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid #ddd !important;
}