body {
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topbar-time {
    margin-right: auto;
}

.tanggal-container {
    font-size: 14px;
    margin-left: auto;
}


@media only screen and (max-width: 480px) {
    #map {
        height: 72vh;
    }

    .tanggal-container {
        font-size: 12px;
    }

}


header h1 {
    padding: 0;
    margin: 0 0 5px;
    font-size: 22px;
}

header p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.select>select {
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid #ddd !important;
}

.position-button {
    font-size: 16px;
    margin: 10px auto;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 400px) {
    .position-button {
        display: block !important;
        margin: 2px auto;
    }
}

.position-button:hover {
    background-color: #0056b3;
}